@layer components {
  .alert {
    @apply rounded-lg relative flex items-center px-4 py-4 z-50 top-0;
    width: 400px;
    min-height: 53px;
    max-height: none;

    &.info {
      @apply bg-blue bg-opacity-10 border border-blue border-opacity-50 text-blue-dark font-bold text-base;
    }

    & .message {
      padding-right: 15px;
    }

    & .image {
      @apply pr-2.5 flex items-center;
      min-width: 120px;
      min-height: 120px;

      & img {
        @apply w-full h-full;
      }
    }

    &.error .left-icon,
    &.success .left-icon,
    &.warning .left-icon {
      @apply pr-8;
      width: 18px;
      height: 18px;

      & img {
        min-width: 18px;
        min-height: 18px;
      }
    }

    &.error .left-icon .icon,
    &.success .left-icon .icon,
    &.warning .left-icon .icon {
      @apply bg-no-repeat pr-8;
      width: 18px;
      height: 18px;
    }

    &.btn-close {
      @apply  absolute right-0 top-0 mr-4 mt-3.5 md:mr-16 md:mt-4 ;
      max-width: 14px;
      max-height: 14px;

      &:hover {
        cursor: pointer;
      }
    }

    &.error,
    &.success,
    &.warning {
      @apply rounded-none text-white text-base font-normal;
    }

    &.error {
      @apply bg-red;
    }

    &.success {
      @apply bg-green;
    }

    &.warning {
      @apply bg-yellow-darker text-black;
    }

    &.error& .btn-close .icon,
    &.success& .btn-close .icon {
      /*background-image: inline('x-white.svg');*/
    }

    &.warning& .btn-close .icon {
      /*  background-image: inline('x-black.svg');*/
    }
    &.turbo-notification {
      @apply rounded-lg pl-6 pr-8;
  
      .btn-close {
        position: inherit;
        margin: inherit;
        @apply mb-2;
      }
    }
  }
}
