@layer components {
  .alert {
    @apply rounded-lg px-4 py-4 z-50 top-0 w-full;
    @apply flex justify-between items-start;
    @apply container mx-auto;

    &.info {
      @apply bg-blue bg-opacity-10 border border-blue border-opacity-50 text-blue-dark font-bold text-base;
    }

    & .message {
      padding-right: 15px;
    }

    & .image {
      @apply pr-2.5 flex items-center;
      min-width: 120px;
      min-height: 120px;

      & img {
        @apply w-full h-full;
      }
    }


    &.error .left-icon,
    &.success .left-icon,
    &.warning .left-icon {
      @apply pr-8 self-center;
      width: 18px;
      height: 18px;

      & img {
        min-width: 18px;
        min-height: 18px;
      }
    }

    &.error .left-icon .icon,
    &.success .left-icon .icon,
    &.warning .left-icon .icon {
      @apply bg-no-repeat pr-8;
      width: 18px;
      height: 18px;
    }

    .btn-close {
      @apply ml-auto;
    }

    &.error,
    &.success,
    &.warning {
      @apply rounded-none text-white text-base font-normal;
    }

    &.error {
      @apply bg-red;
    }

    &.success {
      @apply bg-green;
    }

    &.warning {
      @apply bg-yellow-darker text-black;
    }

    &.turbo-notification {
      @apply rounded-lg pl-6 pr-8;
  
      .btn-close {
        position: inherit;
        margin: inherit;
        @apply mb-2;
      }
    }
  }
}
