@layer base {
  label {
    @apply font-medium text-base mb-2;
  }

  input[type="radio"] {
    @apply text-primary w-6 h-6 focus:ring-0;

    &:hover {
      @apply border-primary bg-white-ghost border-2;
    }
  }

  input[type="checkbox"] {
    @apply text-primary w-6 h-6 focus:ring-0 rounded;

    &:checked {
      @apply bg-primary;
    }

    &:hover {
      @apply border-primary bg-white-ghost border-2;
    }
  }

  input[type="text"], input[type="password"], input[type="email"] {
    @apply rounded-lg border-gray-cool text-gray-cool;

    &:hover {
      @apply border-primary;
    }

    &:active,
    &:focus,
    &:focus-visible {
      @apply border-primary ring-0;
    }

    &[disabled] {
      @apply bg-gray-ghost text-gray-manatee;
    }
  }

  select {
    @apply block w-full rounded-lg border-gray-cool shadow-sm;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23666170' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-size: 1.7em;

    &:hover {
      @apply border-primary;
    }

    &:active,
    &:focus {
      @apply border-gray-cool ring-0;
    }

    & option {
      @apply font-poppins text-lg;
    }
  }
}

@layer components {
  input[type="text"] {
    &.valid {
      @apply border-aqua;
    }

    &.invalid {
      @apply border-red;
    }
  }

  .input-icon {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    & input[type="text"] {
      width: 100%;
    }

    & .icon {
      position: absolute;
      right: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;

      &::before {
        font-size: 20px;
      }
    }
    /* migrated css from ctrl --- below */
    form {
      .field {
        @apply pb-4
      }
  
      .actions {
        direction: rtl;
        @apply text-center lg:text-right;
  
        .btn {
          @apply lg:ml-8
        }
      }
  
      label {
        color: rgba(128, 140, 147, 1);
        @apply font-normal
      }
  
      input {
        @apply w-full;
      }
  
      select {
        @apply border-gray-magnolia;
      }
  
      input[type=text], select {
        @apply border-gray-magnolia
      }
  
      input[type=date], input[type=tel] {
          @apply rounded-lg border-x-gray-magnolia;
  
          &:hover {
              @apply border-primary;
          }
  
          &:active,
          &:focus {
              @apply border-gray-old ring-0;
          }
  
          &[disabled] {
              @apply bg-white-ghost text-gray-old;
          }
      }
  
      input[type="date"] {
        &::-webkit-inner-spin-button {
          display: none;
        }
  
        &::-webkit-calendar-picker-indicator {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%233264FA" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
        }
      }
  
      input[type="submit"] {
        @apply mb-4 lg:mb-0
      }
  
      input[type="text"], input[type="password"], input[type="email"] {
        @apply border-gray-magnolia;
  
        &::placeholder {
          @apply text-gray-cool;
        }
      }
  
      textarea {
        @apply rounded-lg border-gray-magnolia resize-none w-full h-24;
  
        &:hover {
          @apply border-primary;
        }
        
        &::placeholder {
          @apply text-gray-cool;
        }
  
        &:active,
        &:focus {
          @apply border-gray-magnolia ring-0;
        }
  
        &[disabled] {
          @apply bg-white-ghost;
        }
      }
    }
  }
}
