@layer components {
  .sidebar-mobile {
    @apply flex justify-between flex-col overflow-y-auto overflow-x-hidden shadow-lg bg-dark h-full absolute top-0 inset-x-0 transition transform origin-top-right md:hidden;

    .btn-sb-header {
      @apply rounded-md p-2 inline-flex items-center justify-center hover:bg-blue-dark;
    }

    .menu-items {
      @apply mt-6 pt-4 pb-6;
      height: auto;
    }
    .submenu-links {
      @apply mt-6 pt-4 pb-6 flex-1;
    }
    .submenu-items {
      @apply py-6 bg-blue-dark;
      flex: auto;
    }

    nav.items {
      @apply grid gap-y-8;
      justify-content: normal;

      img {
        height: 20x;
        width: 20px;
      }
    }

    .item {
      @apply -m-3 p-3 pl-10 flex text-gray-lighter items-center relative hover:bg-blue-dark hover:text-gray-lighter hover:font-bold;

      &.sub-link {
        @apply text-white;
      }
      &.slide-next::after {
        @apply icon-arrow transform -rotate-45;

        left: calc(100% - 3.5rem);
      }
      &.slide-back {
        @apply pl-20 text-white font-bold;
        &::after {
          @apply icon-arrow left-14;
          transform: rotate(140deg);
        }
      }

      &.is-selected {
        @apply bg-blue-dark font-bold text-white;
      }
    }

    .sub-item {
      @apply -m-3 p-3 pl-10 flex text-gray-lighter items-center hover:text-gray-lighter hover:font-bold hover:bg-dark;

      &.is-selected {
        @apply bg-dark font-bold text-white;
      }
    }

    img.selected-icon {
      filter: brightness(0) invert(1);
    }

    &.compress {
      @apply hidden;
    }
  }
  .code {
    height: 40rem;
    @apply overflow-y-auto bg-white-ish p-2 py-0 text-sm;
  }
  .icon-arrow {
    @apply absolute border-r-2 border-b-2 h-2.5 w-2.5 bg-transparent border-gray-light rounded-sm;
    content: '';
  }
}
