@layer components {
  .tbl-collapsable-mbl {
    @apply h-full w-full transition transform origin-top-right;

    td {
      @apply relative flex justify-between items-center w-full h-full px-4;
    }

    .container-expand {
      @apply h-14 bg-white;

      &:not(.isSelected) > td:after {
        content: '';
        width: calc(100% - 2rem);
        @apply bottom-0 block absolute h-px bg-white-ish h-0.5;
      }

      &.isSelected {
        @apply bg-purple-dark text-white border-none;

        p {
          @apply text-white;
        }
      }

      span {
        @apply text-md font-normal text-purple-dark ml-1;
      }
    }
    input[type='checkbox'] {
      display: none;
    }

    .expandable {
      @apply bg-white-ish;

      &:not(.no-border) > td:after {
        content: '';
        width: calc(100% - 2rem);
        @apply bottom-0 block absolute bg-opacity-30 h-px bg-gray-lighter;
      }

      td {
        @apply pt-4 inline-block  pb-2;
      }

      ul > li {
        @apply flex mb-1;
        img {
          @apply mr-2;
        }
        .img-user {
          @apply w-9 h-9 rounded-full;
        }
        .icon-chevron-left {
          @apply self-start	pt-2 ml-auto;
        }
      }
    }
    .user-profile {
      @apply items-center mb-2;
      div {
        @apply w-4/5;
      }
    }
  }
}
