@layer base {
  label {
    @apply font-bold text-md mb-2;
  }

  input[type="radio"] {
    @apply w-6 h-6 focus:ring-0;
  }

  input[type="checkbox"] {
    @apply  w-6 h-6 focus:ring-0 rounded;
  }

  input[type="text"] {
    @apply rounded-lg border-gray-lighter placeholder-blue-wind;

    &:hover {
      @apply border-blue;
    }

    &:active,
    &:focus {
      @apply border-gray-lighter ring-0 text-dark-charcoal;
    }

    &[disabled] {
      @apply bg-white-antiflash text-gray-light;
    }
  }

  select {
    @apply block w-full rounded-lg border-gray-lighter shadow-sm;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%233264FA' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-size: 1.7em;

    &:hover {
      @apply border-blue;
    }

    &:active,
    &:focus {
      @apply border-gray-lighter ring-0 text-dark-charcoal;
    }
  }
}

@layer components {
  input[type="text"] {
    &.valid {
      @apply border-green text-dark-charcoal;
    }

    &.invalid {
      @apply border-red text-dark-charcoal;
    }
  }

  .input-icon {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    & input[type="text"] {
      width: 100%;
    }

    & .icon {
      @apply text-blue;

      position: absolute;
      right: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;

      &::before {
        font-size: 20px;
      }
    }
  }
}