@layer components {
  .sidebar-mobile-container {
    @apply absolute h-full top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden;

    .sidebar {
      @apply flex justify-between flex-col rounded-lg overflow-x-auto	shadow-lg ring-1 ring-black ring-opacity-5 bg-dark h-full;
    }
  }

  .menu-items {
    height: auto;
  }

  .submenu-items {
    @apply py-6 px-5  bg-blue-dark;
    height: inherit;
  }

  .item {
    @apply -m-3 p-3 flex text-gray-lighter items-center rounded-md bg-no-repeat hover:bg-blue-dark hover:font-bold;

    &.sub-link {
      @apply text-white;
    }

    &.slide-next {
      background-image: inline('next.svg');
      background-position: calc(100% - 2rem) center;
    }

    &.slide-back {
      @apply pl-10 text-white font-bold;
      background-image: inline('icon-back.svg');
      background-position: 1rem center;
    }

    &.is-selected {
      @apply bg-blue-dark font-bold text-white;
    }

    img {
      height: 20x;
      width: 15px;
    }
  }
  .code {
    @apply bg-blue bg-opacity-10 border border-blue border-opacity-50 text-blue-dark font-bold text-base;
  }
}
