@layer base {
  @font-face{
    font-family: "Raleway";
    src: url("fonts/Raleway-Regular.ttf");
    font-weight: normal;
  }

  @font-face{
    font-family: "Raleway";
    src: url("fonts/Raleway-ExtraBold.ttf");
    font-weight: 800;
  }

  @font-face{
    font-family: "Raleway";
    src: url("fonts/Raleway-Black.ttf");
    font-weight: 900;
  }

  @font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face{
    font-family: "Poppins";
    src: url("fonts/Poppins-Italic.ttf");
    font-weight: normal;
    font-style: italic;
  }

  body {
    @apply text-gray font-poppins;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-black font-raleway text-blue-dark;
  }

  button {
    font-size: 1.25rem;
    @apply font-raleway font-extrabold;
  }

  h1 {
    font-size: 2rem;

    @screen lg {
      @apply text-3xl;
    }    
  }

  h2 {
    font-size: 1.5rem;

    @screen lg {
      @apply text-2xl;
    }   
  }

  h3 {
    @apply text-lg;

    @screen lg {
      @apply text-xl;
    }  
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply font-poppins;
  }

  a {
    @apply text-blue;
  }

  li {
    &.title {
      @apply text-lg font-bold mb-4;
    }

    &.subtitle {
      @apply font-bold;
    }
  }
  
  .font-bold, .font-extrabold, .font-black {
    @apply text-blue-dark;
  }
}
